{% load static %}
<?xm 1 version="1.O" encoding="UTF-8" ?> 
<!DOCTYPE html> 
<html xm1ns="http://www.w3.org/1999/xhtm1"> 
	<head> 
		<title>Gestions de Classes</title> 
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
		<link rel="stylesheet"  href="/static/css/style.css">
		<link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css" >
		
	</head> 
	<body> 
		<header>
			<h1>Bienvenu Sur DinyadChat</h1>
			<h2>{{ logged_user.nom }} {{ logged_user.prenom }}</h2>
		</header>
		<fieldset>
		</fieldset>	
		<section>
			<ul id="mess">
				<h3>Mes messages</h3>
				{% for mess in messages %}
				<li>
					{{mess.auteur.nom}} {{mess.auteur.prenom}}</br>
					<a href="/messag?ami={{ mess.auteur.id }}" id="am_ms">{{ mess.contenu }} </a>
				</li>
				{% endfor %}
			</ul>
			
		</section>
		<section>
			<ul id="amis">
				<h3>Mes amis</h3>
				{% for ami in logged_user.amis.all %}
				<li>
					<a href="/messag?ami={{ ami.id }}" id="am_ms">{{ ami.nom }} {{ ami.prenom }}</a>
				</li>
				{% endfor %}
			</ul>
		</section>
		<section>
			<ul id="personnes">
				<h3>Sont sur DinyadChat...</h3>
				{% for pers in personnes%}
					{% if pers not in logged_user.amis.all and pers != logged_user %}
						<li>
							{{ pers.nom }} {{ pers.prenom }}{{j}} <a href="/home?ajouter={{ pers.id }}" id="ajouter">Ajouter</a>
						</li>
					{% endif %}
				{% endfor %}
			</ul>
		</section>
	</body> 
</html> 